:root {
  --text-color-header: #B2B2B2;
  --color-header: #181818;
  --text-color-header-hover: #2d2e2e;
  --color-header-field: #242424;
  --color-header-field-hover: #2a2a2a;
  --color-header-field-border: #454545;
}

@font-face {
  font-family: Consolas;
  src: url("../fonts/Consolas.ttf");
}

@font-face {
  font-family: Codicons;
  src: url("../fonts/codicon.ttf");
}

* {
  color: #bec3cc;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/vscode.png");
  margin: 0;
  padding: 0;
}

.codicon[class*=codicon-] {
  font: normal normal normal 16px/1 Codicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

header {
  display: flex;
  justify-content: space-between;
  height: 34px;
  background-color: var(--color-header);
  user-select: none;
}

.header-left, .header-center, .header-right {
  display: flex;
  height: 25px;
}

.header-left {
  margin: 8px 0 0 8px;
}

.header-center {
  position: absolute;
  top: 0;
  left: 37.5vw;
  margin-top: 5px;
}

.header-icon {
  height: 18px;
  width: 18px;
  margin-right: 7.5px;
  user-select: none;
}

.header-text {
  display: inline-block;
  margin: -2px 0 0 0;
  padding: 2px 7.5px 0 7.5px;
  height: 21px;
  font-size: 13px;
  color: var(--text-color-header);
  user-select: none;
}

.header-text-hover:hover {
  border-radius: 5px;
  background-color: var(--text-color-header-hover);
  cursor: default;
}

.header-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  text-align: center;
  background-color: var(--color-header-field);
  border: 1px solid var(--color-header-field-border);
  border-radius: 5px;
  cursor: pointer;
}

.header-field:hover {
  background-color: var(--color-header-field-hover);
}

.header-field-icon {
  color: var(--text-color-header);
  font-size: 13px !important;
  margin-right: 5px;
}

.header-field-text {
  padding-left: 2px;
}

.header-layout-icon {
  color: var(--text-color-header);
  font-size: 13px !important;
}