:root {
  --text-color-header: #B2B2B2;
  --color-header: #181818;
  --color-background: #181818;
  --text-color-header-hover: #2d2e2e;
  --color-header-field: #242424;
  --color-header-field-hover: #2a2a2a;
  --color-header-field-border: #454545;
  --color-line-separator: #2b2b2b;
  --sidebar-selected-color: #0078d4;
  --sidebar-selected-icon: #d7d7d7;
  --sidebar-unselected-icon: #868686;
  --editor-background: #1f1f1f;
  --line-editor-color: #6e7681;
  --line-editor-selected-color: #cccccc;
  --file-selected-color: #0078d4;
  --file-hover-color: #1f1f1f;
  --file-close-color: #9d9d9d;
  --editor-file-selected: #ffffff;
}

@font-face {
  font-family: Consolas;
  src: url("../fonts/Consolas.ttf");
}

@font-face {
  font-family: Codicons;
  src: url("../fonts/codicon.ttf");
}

* {
  color: #bec3cc;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/vscode.png");
  margin: 0;
  padding: 0;
}

.codicon[class*=codicon-] {
  font: normal normal normal 16px/1 Codicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

header {
  display: flex;
  justify-content: space-between;
  height: 34px;
  background-color: var(--color-header);
  user-select: none;
}

.header-left, .header-center, .header-right {
  display: flex;
  height: 25px;
}

.header-left {
  margin: 8px 0 0 8px;
}

.header-center {
  position: absolute;
  top: 0;
  left: 37.5vw;
  margin-top: 5px;
}

.header-right {
  margin: 10px 10px 0 0;
}

.header-icon {
  height: 18px;
  width: 18px;
  margin-right: 7.5px;
  user-select: none;
}

.header-text {
  display: inline-block;
  margin: -2px 0 0 0;
  padding: 2px 7.5px 0 7.5px;
  height: 21px;
  font-size: 13px;
  color: var(--text-color-header);
  user-select: none;
}

.header-text-hover:hover {
  border-radius: 5px;
  background-color: var(--text-color-header-hover);
  cursor: default;
}

.header-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  text-align: center;
  background-color: var(--color-header-field);
  border: 1px solid var(--color-header-field-border);
  border-radius: 5px;
  cursor: pointer;
}

.header-field:hover {
  background-color: var(--color-header-field-hover);
}

.header-field-icon {
  color: var(--text-color-header);
  font-size: 13px !important;
  margin-right: 5px;
}

.header-field-text {
  padding-left: 2px;
}

.header-layout-icon {
  color: var(--text-color-header);
  font-size: 17px !important;
  cursor: pointer;
  margin: 0 5px;
}

.horizontal-line {
  width: 100%;
  border-top: 1px solid var(--color-line-separator);
}

.vertical-line {
  height: 100%;
  border-left: 1px solid var(--color-line-separator);
}

/* Main */

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 35px);
}

.sidebar {
  background-color: var(--color-background);
  width: 67px;
  height: 100%;
}

.sidebar-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 50px;
  color: var(--sidebar-unselected-icon);
  font-size: 24px !important;
  cursor: pointer;
}

.sidebar-icon:hover {
  color: var(--sidebar-selected-icon);
}

.sidebar-icon-selected {
  width: 45px;
  border-left: 2px solid var(--sidebar-selected-color);
  color: var(--sidebar-selected-icon);
}

.primary-sidebar {
  background-color: #1121ff6c;
  width: 279px;
  height: 100%;
}

.primary-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 19px - 19px); /* Padding Left Right */
  height: 34px;
  background-color: var(--color-background);
  padding: 0 19px;
}

.primary-sidebar-explorer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  color: var(--line-editor-selected-color);
  user-select: none;
}

.primary-sidebar-explorer-icon {
  color: var(--line-editor-selected-color);
}

.primary-sidebar-folder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 2px - 2px); /* Padding Left Right */
  height: 22px;
  background-color: var(--color-background);
  padding: 0 2px;
}

.primary-sidebar-folder-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: var(--editor-file-selected);
  user-select: none;
  margin-left: 2px;
}

.primary-sidebar-folder-items {
  width: calc(100% - 2px - 2px);
  height: calc(100% - 22px - 1px - 34px); /* Main Folder 22px Line 1px Explorer Title 34px */
  background-color: var(--color-background);
  padding: 0 2px;
}

.primary-sidebar-subfolder {
  margin-left: 12px;
}

.primary-sidebar-subfolder-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.primary-sidebar-subfolder-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: var(--line-editor-selected-color);
  user-select: none;
  margin-left: 4px;
}

.primary-sidebar-folder-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 12px;
}

.primary-sidebar-file-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: var(--line-editor-selected-color);
  user-select: none;
  margin-left: 4px;
}

.primary-sidebar-file-icon {
  width: 16px;
  height: 16px;
}

.editor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100vw - 1px - 169px - 1px - 47px); /* 1px Line 169px PrimSideBar 1px Line 47px Sidebar */
  height: 100%;
}

.editor-file-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--color-background);
  width: 100%;
  height: 36px;
}

.editor-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  height: calc(100% - 1px);
  width: 136px;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-line-separator);
  border-right: 1px solid var(--color-line-separator);
  border-top: 1px solid transparent;
  font-size: 14px;
  cursor: pointer;
  color: var(--sidebar-unselected-icon);
}

.editor-file:hover {
  background-color: var(--file-hover-color);
}

.editor-file:hover > .file-close-icon {
  visibility: visible;
}

.editor-file-selected {
  height: calc(100% - 1px);
  border-top: 1px solid var(--file-selected-color);
  background-color: var(--file-hover-color);
  color: var(--editor-file-selected);
}

.editor-file-selected > .file-close-icon {
  visibility: visible !important;
}

.editor-file:first-child {
  border-left: none;
}

.editor-file-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.editor-file-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
}

.file-close-icon {
  visibility: hidden;
  color: var(--file-close-color);
  margin-right: 10px;
  padding: 3px;
}

.file-close-icon:hover {
  border-radius: 5px;
  background-color: var(--text-color-header-hover);
  cursor: pointer;
}

.editor-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: var(--editor-background);
}

.editor-line-numbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 2px;
  width: 68px;
}

.editor-line-text {
  font-family: Consolas;
  font-size: 20px;
  margin: 0;
  color: var(--line-editor-color);
  user-select: none;
}

.editor-line-text-selected {
  color: var(--line-editor-selected-color);;
}

.editor-text-field {
  margin-top: 2px;
  width: calc(100% - 68px); /*68px Line Number Box*/
  height: calc(100% - 6px);
}

.editor-text-input {
  font-family: Consolas;
  border: none;
  background-color: var(--editor-background);
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.editor-text-input:focus {
  outline: none;
}